# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
vinodenv/

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/
python/.streamlit/
secrets.toml

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Test Files
python/test_gemini.py
